.shop-category {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  @media (max-width: 425px) {
    padding: 10px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
  }

  &__list-wrapper {
    width: 100%;
  }
}