.shop-item {
  display: flex !important;
  flex-direction: column;

  &__image {
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    min-height: 2.4rem;
    text-align: right;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__cart {
    display: flex;
    justify-content: space-between;
  }
}