.shop-header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  row-gap: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__company {
    display: flex;
    column-gap: 20px;
  }

  &__company-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__company-title {
    font-size: 26px;
  }

  &__controlls {
    display: flex;
    column-gap: 20px;
  }

  &__company-social {
    display: flex;
    column-gap: 10px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__nav-pages {
    display: flex;
    gap: 15px;
    justify-content: right;
  }

  &__nav-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
  }
}