.categories-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  @media (max-width: 1170px) {
    padding: 15px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: #1C274C;
    margin-bottom: 40px;
  }
}