.cart-page {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  @media (max-width: 1170px) {
    padding: 15px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: #1C274C;
    margin-bottom: 40px;
  }

  &__empty-cart-block {
    display: flex;
    flex-direction: column;
  }

  &__product-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__next-step-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    gap: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;
    }
  }

  &__total-cart-price-block {
    font-weight: 500;
    font-size: 20px;
  }

  &__total-cart-price {
    color: #ff7e47;
    font-weight: 600;
    font-size: 22px;
  }

  &__continue-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 14px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 14px;
    background-color: #ff7e47;
    transition: all 0.2s ease;

    &:hover {
      color: #fff;
      background-color: #f07b49;
    }
  }
}